.NewsList {
    width: 100%;
    min-height: 100vh;
    background-color: #DDD;
    margin: 0;
}

.NewsListContent {
    max-width: 720px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: center;
    background-color: white;
}

.NewsListImg {
    width: 100%;
    height: auto;
    margin: auto;
}